.search-box {
  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #ABBBC2;
  }
  width: 200px; 
  height:48px;
  @media screen and (max-width:480px ) {
    width: 100%;
  }
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.header-elem {
  padding: 30px 0px;  
  margin: 0px 12px;
  @media screen and (max-width:480px ) {
    margin: 0px;
  }
} 

.cart-btn {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 12px;
  margin-right: 12px;
  @media screen and (max-width:480px ) {
    position: absolute;
    top: 24px;
    right: 20px;
    margin: 0px;
    padding: 0px;
  }

}

